<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-eaten="{{devour}}">
		{{#if devour}}Sold Out!{{else}}Order Now!{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}" DELETE!></button>
</li>
