<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devour}}Order Now!{{else}}Restock{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}" DELETE!></button>
</li>
